p {
    font-size: 30px;
}

.display {
    width: 200px;
    height: 55px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
    border-color: black;
    border-style: black;
}